div[class^="Header_header__" ] div[class^="Header_headerInner__" ] > div[class^="Header_headerColLeft__" ]:after {
	content: "+";
	font-size: 30px;
	line-height: 1;
	-ms-flex-item-align: start;
	align-self: flex-start;
	color: #0e3465;
}

#kpp_float_holder {
	display: none;
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0 0 20px rgb(0 0 0 / 28%);
	box-shadow: 0 0 20px rgb(0 0 0 / 28%);
	z-index: 2;
}

.floatNaziv {
	font-size: 17px;
	font-weight: bold;
}

.floatPrice {
	
	color: var(--color-secondary-price-red);
	font-weight: bold;
}

.kpp_float_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 970px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.kpp_float_content .floatImg img {
	max-width: 50px;
	max-height: 50px;
}

.kpp_float_content > div {
	display: inline-block;
	margin-right: 14px;
	line-height: 1;
}

#kpp_omiljeno_trigger {
	border: 2px solid #62a508;
	padding: 5px;
	display: block;
	margin-top: 8px;
}

#leftNav #kpp_omiljeno_trigger {
	color: #62a508;
}

#leftNav #kpp_omiljeno_trigger:hover {
	color: #fff;
	background: #62a508;
}

#leftNav #kpp_omiljeno_trigger:hover svg {
	fill: #fff;
}

#adListContainer .item:hover .kpp_dodaj_omiljeno {
	display: block;
}

.kpp_dodaj_omiljeno {
	display: none;
	position: absolute;
	right: 0;
	bottom: 50px;
	background: #70A319;
	width: 24px;
	height: 24px;
	color: #fff;
	fill: #fff;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.kpp_dodaj_omiljeno svg {
	padding: 4px 0;
}

#kpp_omiljeno_trigger svg {
	fill: #62a508;
	vertical-align: middle;
}

.zoomImgWrap:hover .zoomImgHolder {
	width: 46px;
	height: 46px;
}

.zoomImgWrap:hover .zoomImgHolder svg {
	height: 23px;
	width: 23px;
}

.zoomImgHolder {
	position: absolute;
	z-index: 1;
	left: 8px;
	top: 8px;
	border: 1px solid rgb(255 255 255 / 26%);
	background: rgb(0 0 0 / 55%);
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.zoomImgHolder:hover {
	width: 128px!important;
	height: 120px!important;
}

.zoomImgHolder svg {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	fill: #fff;
	height: 15px;
	width: 15px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.zoomImgWrap .zoomImgHolder:hover svg {
	height: 30px;
	width: 30px;
}

.kppLightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	cursor: pointer;
}

.kppLightbox .kpp_lightbox_holder {
	width: 100%;
	height: 100%;
	margin: 2% auto 0 auto;
	max-width: 82%;
	max-height: 90%;
	position: relative;
}

.kppLightbox .kpp_lightbox_holder img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.kppLightbox .closeLightbox {
	position: absolute;
	top: -20px;
	right: -30px;
	background: #fff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 26px;
	color: #000;
	pointer-events: none;
	
}

.kppLightbox .closeLightbox svg {
	stroke: #ff0000;
}

.kppZoomImg:hover .zoomImgHolder {
	display: block;
}

.kpp_close_modal {
	position: absolute;
	cursor: pointer;
	background: #000;
	color: #fff;
	top: 0;
	right: 15px;
	width: 25px;
	height: 25px;
	line-height: 23px;
	text-align: center;
	z-index: 999;
}

.kpp_close_modal svg {
	stroke: #fff;
}
a.kpp_pop_external_link {
	color: var(--color-primary-sky-blue);
}
a.kpp_pop_otvori_oglas {
	background: rgb(48, 125, 193);
    display: block;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
	border: 1px solid rgb(48, 125, 193);
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
a.kpp_pop_otvori_oglas.kpp_kpizlog {
	margin-left: 5px;
	background: transparent;
	color: rgb(48, 125, 193);
}
a.kpp_pop_otvori_oglas:hover {
	background: rgb(48 125 193 / 15%);
	color: rgb(48, 125, 193);
}
a.kpp_pop_otvori_oglas:hover svg g {
	
	fill: rgb(48, 125, 193);
}

div.adListContainer div.item .kpIzlogHolder {
	bottom: 30px!important;
}

.ad-options .ad-option, .oglas-options .oglas-option {
	margin-right: 1px!important;
}

.kpp_opcije {
	background: rgb(255 255 255);
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #00000026;
	box-shadow: 0 0 5px #00000026;
	width: 40px;
	margin: 5px auto;
	cursor: pointer;
}

.kpp_opcije:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #017ec3;
}

.kpp_opcije:hover svg {
	fill: #fff;
}

.kpp_quick-view {
	padding: 5px 0;
	text-align: center;
}

.kpp_quick-view svg {
	fill: #017ec3;
}

#kpp_modal_holder * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.openLightbox {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
#kpp_modal_holder {
	position: fixed;
	z-index: 998;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0 0 0 / 40%);
	
}

#kpp_modal_window {
	width: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;
	border-radius: 7px;
	padding: 3px;
	-webkit-box-shadow: 0 0 60px rgb(0 0 0 / 40%);
	box-shadow: 0 0 60px rgb(0 0 0 / 40%);
	max-width: 850px;
	max-height: 750px;
	color: #000;
	background: #fff;
	margin: auto;
}

#kpp_modal_data {
	overflow: auto;
	height: 100%;
	width: 100%;
	padding: 10px;
}

.kpp_modal_title {
	margin-bottom: 10px;
}
.contact-col {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: center;
}
#userIcon {
	stroke: #181818;
}

.kpp_modal_korisnik {
	font-weight: bold;
}
.kpp_modal_ocene {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.kpp_modal_cena {
	color: var(--color-secondary-price-red);
	
}
.kpp_modal_single_info:not(.btn_holder) {
	border: 1px solid #d2d6da;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
	    font-weight: bold;
}
.kpp_modal_desc_site {
	align-items: center;
    display: flex;
    justify-content: center;
    margin: 1.6rem;
}
.kpp_modal_desc_site > svg {
	stroke: var(--color-primary-sky-blue);
	margin-right: 1.2rem;
}
.kpp_modal_desc_site > a {
	color: var(--color-primary-sky-blue);
}
.kpp_modal_single_head {
	font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #d2d6da;
    margin-bottom: 10px;
    padding: 6px;
}
.desc_data {
	display: block;
	margin-top: 15px;
	border: 1px solid #317dc1;
	padding: 1.6rem;
	border-radius: 5px;
}
.kpp_modal_poseti {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.kp_monogram_k {
	color: var(--color-primary-action-red);
	display: inline;
    font-size: inherit;
    font-weight: 700;
}
.kp_monogram_p {
	color: var(--color-primary-navy-blue);
	display: inline;
    font-size: inherit;
    font-weight: 700;
}
.dodatne_informacije_korisnik_svg {
	stroke: var(--color-primary-navy-blue);
	    display: inline;
    vertical-align: middle;
}

.kpp_row {
	display: table;
	width: 100%;
	position: relative;
}



.kpp_modal_ocene > span {
	margin-left: 10px;
}

.kpp_modal_ocene > span:first-child > svg {
	stroke: #8cc541;
	margin-right: 5px;
}

.kpp_modal_ocene > span:last-child > svg {
	stroke: #ff0000;
	margin-right: 5px;
}

.exit_modal {
	background: #000;
	color: #fff;
	cursor: pointer;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 1.2;
}

.desc_data iframe {
	width: 100%;
	border: none;
}

.desc_data table {
	border-spacing: 0;
	width: 100%;
}

.desc_data table tr:nth-child(odd) {
	background-color: var(--color-primary-gray);
}

.desc_data table td {
	padding: 0.8rem;
}

.desc_data [class*="AdViewDescription_section__"] {
	padding: 0 0.8rem;
}

.desc_data [class*="AdViewDescription_website__"] {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 1.6rem;
}

.desc_data [class*="AdViewDescription_website__"] svg {
	margin-right: 1.2rem;
}

.desc_data [class*="AdViewDescription_carTableHolder__"] > * {
	margin-top: 1.6rem;
}

.desc_data [class*="AdViewDescription_carTableHolder__"] ul {
	list-style: disc;
	margin-top: 1.6rem;
	padding-left: 3rem;
}

.desc_data [class*="AdViewDescription_descriptionHolder__"] {
	margin: 1.6rem 0;
	padding: 0 1.6rem;
	word-break: break-word;
}

.desc_data [class*="AdViewDescription_descriptionHolder__"] ol, 
.desc_data [class*="AdViewDescription_descriptionHolder__"] ul {
	list-style: revert;
	margin: 1rem 0;
	padding-left: 3rem;
}

.kpp_modal_title a {
	font-size: 20px;
	letter-spacing: 0.2px;
	margin-bottom: 18px;
	color: #307DC1;
	text-decoration: underline;
}


.kpp_modal_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
}
.kpp_modal_info .photo-col {
	overflow: hidden;
	margin-right: 50px;
    width: 50%;
	max-width:400px;
}


.photo-col a img {
	max-height: 260px;
	width: auto;
	max-width: 300px;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

html.async-hide {
	opacity: 1!important;
}

/*****************************************************************************/
/***************************** QUIC VIEW SLIDER ******************************/
/*****************************************************************************/
.splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.splide__slide {
  opacity: 0.5;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.splide__slide:not(.is-active) {
  height: 0;   
}

/**********************************************************************/
/***************************** WIDE MODE ******************************/
/**********************************************************************/
@media only screen and (min-width: 1280px) {

	.kpp_wide [class*="Grid_container__"] {
		width: 100%!important;
		max-width: 1500px!important;
	}

	.kpp_wide [class*="Header_headerColMiddle__"],
	.kpp_wide [class*="ButtonNewEd_addNewEdButton__"] {
		max-width: 100%!important;
	}

	.kpp_wide body,
	.kpp_wide p,
	.kpp_wide [class*="CategoryBox_list__"], 
	.kpp_wide [class*="AdItem_name__"],
	.kpp_wide [class*="AdItem_adInfoHolder__"] {
		font-size: 1.5rem!important;
		
	}
	
	.kpp_wide [class*="AdViewInfo_price__"] {
		font-size: 1.9rem;
	}
	
	.kpp_wide [class*="AdItem_price__"] {
		text-align: center;
	}

	.kpp_wide [class*="CurrencyConverter_control__"] {
		width: auto!important;
	}

	.kpp_wide [class*="MessageAdInfo_holder__"] {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.kpp_wide .kpp_float_content {
		max-width: 1470px;
	}

	.kpp_wide #kpp_float_holder {
		height: 60px;
	}

	.kpp_wide [class*="ButtonExpand_expandHolder__"] p {
		font-size: 1.2rem!important;
	}
	
	.kpp_wide [class*="AdItem_descriptionHolder__"] > div:first-child {
		width: 26.6rem;
	}
	.kpp_wide [class*="AdItem_descriptionHolder__"] > div:nth-child(2) {
		width: 10rem;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.kpp_wide [class*="AdItem_descriptionHolder__"] > div:nth-child(3) {
		width: 10rem;
	}
	.kpp_wide [class*="AdItem_descriptionHolder__"] > div:nth-child(4) {
		width: 16.2rem;
	}
	
	.kpp_wide #kpp_modal_window {
		max-width: 1000px;
		max-height: 830px;
	}
	.kpp_wide .kpp_modal_info .photo-col {
		margin-right: 80px;
		
	}
	.kpp_wide [class*="CategoryBox_listItem__"] [class*="CategoryBox_listItemName__"] {
		max-width: 32rem;
	}
	
	
}

/**********************************************************************/
/***************************** NIGHT MODE *****************************/
/**********************************************************************/
.kpp_night, .kpp_night body {
	background-color: #2b2b2b;
}

.kpp_night #kpp_modal_window {
	background: #292929;
	color: #fff;
}

.kpp_night .kpp_modal_title a {
	color: rgb(80 165 241);
}

.kpp_night .kpp_modal_cena {
	color: rgb(255 57 57);
}

.kpp_night #userIcon {
	stroke: rgb(189 189 189);
}

.kpp_night .kpp_close_modal {
	background: #fff;
}

.kpp_night .kpp_close_modal svg {
	stroke: #000;
}

.kpp_night section[class*="CategoryHeadline_box__"] > div[class^="CategoryHeadline_itemHolder__"] > a img {
	-webkit-filter: grayscale(100%) invert(100%);
	filter: grayscale(100%) invert(100%);
}

.kpp_night #kpp_float_holder {
	background: #353535;
}

.kpp_night div[class^="MessageChatBox_chatBoxHolder_"] div[class^="MessageChatBox_chatBox_"] {
	background-blend-mode: color-burn;
	background-color: #303030;
}

.kpp_night div[class^="MainMessageTextField_textFieldHolder__"] #message::-webkit-input-placeholder {
	color: var(--color-primary-gray);
}

.kpp_night div[class^="MainMessageTextField_textFieldHolder__"] #message::-moz-placeholder {
	color: var(--color-primary-gray);
}

.kpp_night div[class^="MainMessageTextField_textFieldHolder__"] #message:-ms-input-placeholder {
	color: var(--color-primary-gray);
}

.kpp_night div[class^="MainMessageTextField_textFieldHolder__"] #message::-ms-input-placeholder {
	color: var(--color-primary-gray);
}

.kpp_night div[class^="MainMessageTextField_textFieldHolder__"] #message::placeholder {
	color: var(--color-primary-gray);
}

.kpp_night .tox .tox-edit-area__iframe {
	background: #fff;
}

.kpp_night .kpp_opcije {
	background: #317ebf;
}

.kpp_night .kpp_quick-view svg {
	fill: #fff;
}

.kpp_night div[class^="Header_header__" ] div[class^="Header_headerInner__" ] > div[class^="Header_headerColLeft__" ]:after {
	color: #fff;
}
.kpp_night a.kpp_pop_otvori_oglas:hover {
	
	color: #fff;
}
.kpp_night a.kpp_pop_otvori_oglas:hover svg g {
	
	fill: #ffffff;
}
.kpp_night a.kpp_pop_otvori_oglas.kpp_kpizlog {
	color: #fff;
}